.sidebar-container{
    width: 240px;
    min-height: 100vh;
    box-shadow: 2px 6px 2px #373737
}

.sideBar-icon{
    font-size: 20px;
    color: #8b8c8c;
    margin-left: 20px;
}
.sidebar-item-container{
    display: flex;
    font-size: 16px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
}
.sidebar-item-name{
    margin-left: 20px;
    font-family: sans-serif;
    font-weight: 600;
    color: #8b8c8c;
    }
.sidebar-active-item-container{
    display: flex;
    font-size: 16px;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    background-color: #a6fcff;
    width: 80%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-top: 20px;
}